 <div class="row bigBlock">
   <div class="mx-auto customToastContainer">
    <% if ( status ) { %>
      <% if ( status === 'created' ) { %>
        <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
          <div class="toast-header">
            <i class="fas fa-check text-success"></i>
            <strong class="ms-2 me-auto text-success">Compte créé !</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Votre compte a été créé, vous pouvez maintenant vous connecter
          </div>
        </div>
      <% } %>
      <% if ( status === 'logout' ) { %>
        <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
          <div class="toast-header text-danger">
            <i class="fas fa-exclamation-triangle"></i>
            <strong class="me-auto ms-2">Déconnexion</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Vous avez été déconnecté.
          </div>
        </div>
      <% } %>
      <% if ( status === 'notLogged' ) { %>
        <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
          <div class="toast-header text-danger">
            <i class="fas fa-exclamation-triangle"></i>
            <strong class="me-auto ms-2">Accès refusé</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Vous devez être connecté pour accéder à ce contenu.
          </div>
        </div>
      <% } %>
    <% } %></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="card b-0 shadow mainCard">
              <div class="card-body text-white">
                <h3>Stockez vos données en toute sécurité !</h3>
                <p>blablabla on fous des icones et tout </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
 </div>