<nav class="navbar bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand text-indigo ms-4">Agentive</a>
    <form class="d-flex">
      <a class="btn text-indigo" href="/register">Créer un compte</a>
      <button class="btn btn-indigo" type="button" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fas fa-user"></i> Connexion</button>
    </form>
  </div>
</nav>
<%- include('modal/loginModal.ejs') %>