<% if ( status ) { %>
  <% if ( status === 'error' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        <strong class="me-auto ms-2">Erreur</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Une erreur s'est produite lors de la création de votre compte. Veuillez réessayer.
      </div>
    </div>
  <% } %>
  <% if ( status === 'captchaError' ) { %>
    <div class="toast mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        <strong class="me-auto ms-2">Erreur</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Le captcha est incorrect, veuillez réessayer.
      </div>
    </div>
  <% } %>
<% } %>
<div class="row mt-4 mb-4">
  <div class="card col-lg-6 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">Inscription</h5>
      <form class="g-3" method="POST" id="signupForm">
        <!-- ajouter class is-invalid -->
        <div class="row m-4">
          <label for="validationCompany" class="form-label col-sm-6">Nom d'utilisateur <span class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" name="name" class="form-control" id="validationUsername" aria-describedby="validationUsernameFeedback" required>
            <div id="validationUsernameFeedback" class="invalid-feedback">
              Veuillez fournir un nom valide
            </div>
          </div>
        </div>
        <div class="row m-4">
          <label for="validationMail" class="form-label col-sm-6">Adresse mail <span class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="email" name="mail" class="form-control" id="validationMail" aria-describedby="validationMailFeedback" required>
            <div id="validationMailFeedback" class="invalid-feedback">
              Veuillez fournir une adresse mail valide.
            </div>
          </div>
        </div>
        <div class="row m-4">
          <label for="validationPassword" class="form-label col-sm-6">Mot de passe <span class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="password" name="password" class="form-control" id="validationPassword" aria-describedby="validationPasswordFeedback" required>
            <div id="validationPasswordFeedback" class="invalid-feedback">
              Votre mot de passe doit comporter au moins :
              <ul class="list-group list-group-flush">
                <li class="list-group-item">8 caractères</li>
                <li class="list-group-item">Un caractère spécial</li>
                <li class="list-group-item">Une majuscule</li>
                <li class="list-group-item">Un chiffre</li>
              </ul>
              Et ne doit pas comporter les caractères : " ' ` ;
            </div>
          </div>
        </div>
        <div class="row m-4">
          <label for="validationPasswordConfirm" class="form-label col-sm-6">Confirmer le mot de passe <span class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="validationPasswordConfirm" aria-describedby="validationPasswordConfirmFeedback" required>
            <div id="validationPasswordConfirmFeedback" class="invalid-feedback">
              Les mots de passe doivent être identiques
            </div>
          </div>
        </div>
        <div class="row m-4 text-danger">
          * Champs obligatoires
        </div>
        <div class="row m-4 justify-content-center">
          <div class="col-sm-6 text-center">
            <img src="<%=source%>"/>
            
            <div class="input-group mt-2 mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-sync-alt"></i></span>
              <input type="text" name="captcha" class="form-control" placeholder="Recopiez le code ci-dessus" required
              id="validationCaptcha" aria-describedby="validationCaptchaFeedback">
              <div id="validationCaptchaFeedback" class="invalid-feedback">
                Le captcha doit être rempli.
              </div>
            </div>
          </div>
          
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="row m-4">
          <div class="mx-auto text-center">
            <button class="btn btn-indigo" type="submit">S'inscrire</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
