<!DOCTYPE html>
<html lang="">
  <%- include('partials/header.ejs') %>
  <body>
      
    <%- include('partials/navbar.ejs') %>
    <div class="container-fluid">
        <%- include(page) %>
    </div>
    <script src="/javascripts/loccker.js"></script>
    <script src="/javascripts/formValidator.js"></script>
  </body>
</html>