<!DOCTYPE html>
<html lang="">
  <%- include('partials/header.ejs') %>
  <body>
      
    <%- include('partials/navbar.ejs') %>
    <!-- penser à inclure la page -->
    <div class="container-fluid">
        <%- include(page) %>
    </div>
    
    <!-- include('partials/footer.ejs')-->
    <script src="/javascripts/loccker.js"></script>
    <script src="/javascripts/formValidator.js"></script>
  </body>
</html>