<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Connectez-vous à votre compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form method="POST" action="/login">
          <img class="mb-4" src="/images/logoTransparent.png" alt="" width="72" height="72">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" 
            placeholder="Adresse mail" aria-label="Username" aria-describedby="basic-addon1"
            required autofocus>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" 
            placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon2"
            required>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-purple mx-auto">Connexion</button>
        </form>
        <div class="mt-2">
          Vous n'avez pas encore de compte ? 
          <a class="text-purple purpleLink" href="/register">Créer un compte</a>
        </div>
        <div class="mt-2">
          <button type="button" class="btn purpleLink" data-bs-toggle="modal" data-bs-target="#resetPassword">
            Mot de passe oublié
          </button>
        </div>
      </div>
    </div>
  </div>
</div>